#container {
	display: flex;
	flex-direction: row;
	justify-content: space-between;

	width: calc(100% - 40px);
	height: calc(100% - 40px);

	padding: 20px;
}

#left {
	display: flex;
	flex-direction: column;

	margin: 40px 0;
	margin-left: 30px;
	margin-right: 20px;
	height: calc(100% - 100px);

	flex-grow: 1;
}

#info-container {
	flex-basis: 350px;
	height: calc(100% - 20px);
	overflow-y: auto;

	padding: 10px;

	border-radius: .4rem;
	box-shadow: 0 1px 1px rgba(0,0,0,0.12), 
		0 2px 2px rgba(0,0,0,0.12), 
		0 4px 4px rgba(0,0,0,0.12), 
		0 8px 8px rgba(0,0,0,0.12),
		0 16px 16px rgba(0,0,0,0.12);
	background-color: var(--secondary-color);
}

#info-title {
	padding-bottom: 100px;
}

#info-title-container {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: flex-start;

	width: 100%;
}

#details-expand {
	height: 36px;
	flex-basis: 30px;
	flex-grow: 0;
	flex-shrink: 0;

	margin-top: 10px;

	filter: invert(28%) sepia(4%) saturate(0%) hue-rotate(247deg) brightness(90%) contrast(84%);
	background-image: url("../icons/more.svg");
	background-size: contain;
	background-position: center;
	background-repeat: no-repeat;
}

#details-title {
	flex-shrink: 1;
}

#details-desc {
	min-height: 50px;
	padding: 5px;
	margin-bottom: 5px;
	border-radius: .4rem;
	background-color: var(--accent-highlight-color);
}

#details-deadline {
	font-weight: 600;
}

#header {
	display: flex;
	align-items: center;

	font-size: 1.4em;
	font-weight: 700;
	padding-bottom: 20px;
}

#header > h1 {
	padding-right: 10px;
}

#createEntry {
	width: 36px;
	height: 36px;
	margin: 2px 0;
	margin-left: 1px;

	filter: invert(28%) sepia(4%) saturate(0%) hue-rotate(247deg) brightness(90%) contrast(84%);
	background-image: url("../icons/add.svg");
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;

	transition-property: width height;
	transition-duration: 75ms;
	transition-timing-function: ease-in;
}

#createEntry:hover {
	margin: 0;
	width: 38px;
	height: 38px;
}

#track-container {
	position: relative;
	width: calc(100% - 20px);
	height: 100%;

	padding-left: 20px;
	overflow-y: auto;
}

#track-disp {
	position: fixed;
	width: 4px;
	height: 789px;
	background-color: var(--accent-color);
}

.track-section {
	display: flex;
	flex-direction: column;
	flex-basis: 0;
	min-height: 0;
}

.tracker {
	display: flex;
	flex-direction: row;
}

.tracker.square {
	--tracker-highlight-color: var(--tracker-square-color);
}

.tracker.rotsquare {
	--tracker-highlight-color: var(--tracker-rotsquare-color);
}

.tracker:hover {
	--tracker-highlight-color: var(--secondary-color);
}

.tracker-dot-container {
	position: relative;
	left: -10px;
}

.tracker-dot-container > div {
	width: 20px;
	height: 20px;
	aspect-ratio: 1;

	border-style: solid;
	border-radius: 50%;
	border-width: 2px;
	border-color: var(--accent-color);
	background-color: var(--tracker-highlight-color);
	transition: background-color 150ms ease-in;
}

.tracker.square > .tracker-dot-container > div {
	border-radius: 15%;
}

.tracker.rotsquare > .tracker-dot-container {
	margin: 0 3px;
}

.tracker.rotsquare > .tracker-dot-container > div {
	width: 14px;
	height: 14px;

	border-radius: 15%;
	transform: rotate(45deg);
}

.tracker-text {
	margin-left: 10px;
	font-size: 1.2em;
	color: var(--tracker-highlight-color);
	transition: color 150ms ease-in;
}

#modalWindow {
	display: none;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;

	background-color: rgba(0, 0, 0, .3);
}

.modalContainer {
	max-height: calc(100% - 40px);

	overflow-y: auto;

	padding: 10px;
	margin: 10px auto;

	border-radius: .4rem;
	box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
	background-color: var(--primary-color);
}

#createModal {
	position: relative;
	display: hidden;
	flex-direction: column;

	width: 70%;
	height: auto;
}

#cmdPalette {
	position: relative;
	display: none;
	flex-direction: column;

	width: 70%;
	height: auto;
}

#modalHeader {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: flex-start;

	padding-bottom: 40px;
	font-weight: 700;
}

#modalExit {
	transition-property: color;
	transition-duration: 150ms;
	transition-timing-function: ease-in;
}

#modalExit > span {
	transition-property: padding;
	transition-duration: 150ms;
	transition-timing-function: ease-in;
}

#modalExit:hover {
	color: var(--heavy-warning);
}

#modalExit:hover > span {
	padding: 0 5px;
}

#inputContainer {
	display: flex;
	flex-direction: column;
	justify-content: space-between;

	height: 100%;
}

#inputForm {
	display: flex;
	flex-direction: column;
}

#inputForm > label {
	color: var(--primary-text-color);
}

#inputErrorDisp {
	padding-bottom: 25px;
	color: var(--heavy-warning);
	transition: opacity 150ms ease-in;
}

#inputErrorDisp.hidden {
	opacity: 0;
}

#cmdPaletteInput {
	width: 100%;
}

#cmdPaletteInput > input {
	width: calc(100% - 5px);
	margin: 0;
}


@media only screen and (max-width: 800px) {
	#container {
		flex-direction: column-reverse;
		justify-content: flex-end;
	}

	#left {
		height: 0;
		flex-basis: 250px;
		flex-grow: 3;
		flex-shrink: 1;
		margin-left: 20px;
		margin-right: 10px;
	}

	#info-container {
		width: calc(100% - 20px);
		flex-basis: 90px;
		flex-grow: 1;
	}
}
